<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/mini.png" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Internship Information System</title>

  <script>
    window.onload = function () {
      document.getElementById('Internship ID').value = document.getElementById('internshipID').innerHTML;
      document.getElementById('Student ID').value = document.getElementById('studentID').innerHTML;
      document.getElementById('Company').value = document.getElementById('company').innerHTML;
      document.getElementById('Work Day').value = document.getElementById('work_day').innerHTML;
      document.getElementById('Start Date').value = document.getElementById('start_date').innerHTML;
      document.getElementById('End Date').value = document.getElementById('end_date').innerHTML;
    }
  </script>
</head>



<body>
  <div class="site">

    {{#if message}}
    <div class="alert">{{message}}</div>
    {{/if}}

    <div class="login_list">
      <form action="/updaterecord" class="login_list_row" method="POST" id="loginform">
        <div class="form_group_column">


          <label;" for="Internship ID">Internship ID</label;"><br>
          <input type="text" id="Internship ID" name="Internship_ID" class="form-control"
            placeholder="Internship ID" /><br>

          <label;" for="Student ID">Student ID</label;"><br>
          <input type="text" id="Student ID" name="Student_ID" class="form-control" placeholder="Student ID" /><br>

          <label;" for="Company">Company</label;"><br>
          <input type="text" id="Company" name="Company" class="form-control" placeholder="Company" /><br>

          <label;" for="Work Day">Work Day</label;"><br>
          <input type="text" id="Work Day" name="Work_Day" class="form-control" placeholder="Work Day" /><br>

          <label;" for="Start Date">Start Date</label;"><br>
          <input type="text" id="Start Date" name="Start_Date" class="form-control" placeholder="Start Date" /><br>

          <label;" for="End Date">End Date</label;"><br>
          <input type="text" id="End Date" name="End_Date" class="form-control" placeholder="End Date" /><br>



        </div>
      </form>
      <button type="submit" class="submit_btn" form="loginform">Confirm</button>
    </div>
  </div>

  <div="TxT">
    <p id="internshipID"> {{testObj.internshipID}} </p>
    <p id="studentID"> {{testObj.studentID}} </p>
    <p id="company"> {{testObj.company}} </p>
    <p id="work_day"> {{testObj.work_day}} </p>
    <p id="start_date"> {{testObj.start_date}} </p>
    <p id="end_date"> {{testObj.end_date}} </p>
    <p id="confirmation"> {{testObj.confirmation}} </p>


    </div>

</body>